<!-- Four -->
<section id="{{ .section.section_id }}" class="wrapper {{ .section.background_style }} special-alt">
    <div class="inner split">
        <section>
            <header class="major">
                <h2>{{ .section.title }}</h2>
            </header>
            {{ partial "markdownify-block" .section.text }}
        </section>
        <form method="post" action="#">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" />
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
            <ul class="actions">
                <li><a href="#" class="button">Get started</a></li>
            </ul>
        </form>
    </div>
</section>
